.hidden {
    color: transparent;
}

body {
    color: #fff;
    font-family: 'SF Pixelate', sans-serif;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(135deg, #0087D4, #505488,#2F3F80, #161569, #5A4894, #A950A1, #FF7CAE);
    background-size: 500%;
    animation: fanimado 10s infinite; 
}

section{
    /* 100% de la pantalla */
    height: 100vh;

    /* repetición de fondo */
    background-repeat: no-repeat;

    /* tamaño de fondo: portada */
    background-size: cover;

    /* posición de fondo: centro */
    background-position: center;

    display: flex;

    flex-direction: column;

    align-items: center;

    /* justificar-contenido: espacio-entre */
    justify-content: space-around;
}

img{
    padding: 2rem;
    height: 10vh;
}

#wordContainer {
    margin-top: 20px;
    height: 65vh;
}

.letter {
    margin: 0 7px;
    position: relative;
    text-align: center;
}

.letter::after{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    min-width: 12px;
}

#startButton {
    margin-top: 20px;
    appearance: none;
    font-family: 'SF Pixelate', sans-serif;
    border: none;
    width: 300px;
    padding: 10px;
    background: #d95d39;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
}

@keyframes fanimado {

    0% {
        background-position: 0% 50%;
    }
    
    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}